.App {
  text-align: center;
}



.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.CalendarDay__selected_span {
  background: #82e0aa; /*background8*/
  color: white; /*text*/
  border: 1px solid lightcoral; /*default styles include a border*/
}

/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: darkred;
  color: white;
}

/* // Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

/* // Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}
